.slot {
  padding: 1px;
  height: 100%;
  text-align: center;
  pointer-events: none;
  cursor: none;

  &--inactive {
      background: lightgrey;
      outline: 1px solid black;
  }

  &:not(--inactive) {
      box-sizing: border-box;
      outline: 1px solid black;
  }

  &--clickable {
    pointer-events: visible;
    cursor: pointer;
  }

  &--free {
      background: #81C784;

      &:hover {
        background: #4CAF50;
      }
  }

  &--booked {
    background: #E57373;

    &:not(--clickable):hover {
      background: #EF5350;
    }
  }
}

@media (max-width: 1024px) {
    .slot {
      & > span:first-child
       {
        font-size: 15px;
        font-weight: bold;
      }
    }
}

@media (min-width: 1024px) {
    .slot {
        text-align: center;
        vertical-align: middle;

        & > span:first-child {
          font-size: 15px;
          font-weight: bold;
        }
    }
}
