.rbc-view {
    width: 100%;
    background: $main-bg-color;
    color: $main-color;

    &__button {
        background: $main-bg-color;
        color: $main-color;
        border: none;
        outline: none;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $header-hover-color;
        }

        &--active {
            background: $header-active-bg-color;

            &:hover {
                color: $header-active-hover-bg-color;
            }
        }
    }

    &--small,
    &--medium {
        .rbc-view {
            &__button {
                width: 100%;
                height: 50px;
            }
        }
    }

    &--big {
        height: 50px;

        .rbc-view {
            &__button {
                width: calc(100% / 3);
                height: 100%;

                &:not(:first-child) {
                    border-left: 1px solid $main-border-color;
                }
            }
        }
    }
}
