.rbc-header {
    text-align: center;
    background: $header-bg-color;
    color: $header-color;
}

@media (max-width: 1024px) {
    .rbc-header {

    }
}

@media (min-width: 1024px) {
    .rbc-header {
        height: 200px;
    }
}
