.rbc-slot {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    pointer-events: none;
    cursor: none;
    background: $slot-bg-color;
    color: $slot-color;

    &--inactive {
        background: $slot-inactive-bg-color;
    }

    &:not(--inactive) {
        box-sizing: border-box;
    }

    &--clickable {
        pointer-events: visible;
        cursor: pointer;
    }

    &--free {
        color: $slot-free-bg-color;
    }

    &--booked {
        color: $slot-booked-bg-color;
    }

    &--small,
    &--medium {
        height: 100%;
    }
}
