// @include flex;

@media (max-width: 600px) {
    .week {
        .slot {
            &__title {
                font-size: 17px;
            }

            &__message {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 1400px) {
    // COLUMN VIEW
    .week {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        height: calc-height(100px);

        > div {
            flex: 1;
            width: 0;

            .day {
                &__header {
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }

                &__details {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .slot {
                        height: 100px;

                        > div {
                            display: flex;
                            height: 100px;
                            align-self: flex-start;

                            > div {
                                align-self: center;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .week {
        .slot {
            &__title {
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 1400px) {
    // ROW VIEW
    .week {
        .day {
            display: flex;
            align-content: flex-start;
            height: 100px;

            &__header {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100px;
            }

            &__details {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 0px 5px;

                .slot {
                    justify-content: flex-start;

                    &__title {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
