@media (max-width: 1024px) {
    .month {
        height: 50px;

        > div {
            display: inline-block;
            width: calc(100% / 7);
            vertical-align: top;

            &:nth-child(7n + 1) {
                clear: left;
            }

            .slot {
                > span {
                    line-height: 50px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .month {
        .day {
            > * {
                display: inline-block;
            }

            > :first-child {
                text-align: center;
                width: 100px;
                vertical-align: middle;
            }
        }
    }
}
