@media (max-width: 1024px) {
  .week {
    > div {
      width: calc(100% / 7);
      vertical-align: top;
      display: inline-block;
      height: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .week {
    .day {
      > * {
          display: inline-block;
      }

      > :first-child {
          text-align: center;
          width: 100px;
          vertical-align: middle;
      }
    }
  }
}
