.rbc-day {
  height: 100px;
  vertical-align: middle;

  .rbc-header {
    text-align: center;
    padding: 15px;
    width: 150px;

    span {
      display: block;
    }
  }

  .rbc-slot {
    text-align: center;
    padding: 15px;

    span {
      display: block;
    }
  }
}
