// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html, body{
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #fff;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: none;
  }
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
