.rbc-header {
  height: 100px;
}


@media (max-width: 1024px) {
    .rbc-header {
        > div:first-child {
            margin-bottom: 20px;
        }
    }
}


@media (min-width: 1024px) {
    .rbc-header {
        > div:first-child {
            margin-right: 100px;
        }
    }
}
