.rbc-day {
  margin: auto 0;
  white-space : nowrap;
  text-align: center;

  div:first-child > span {
    font-weight: bold;
    display: block;
  }
}

@media (max-width: 1024px) {
    .rbc-day {
        div:first-child > span {
            margin: 5px 0px 5px 0px;
            font-size: 18px;
        }
    }
}

@media (min-width: 1024px) {
    .rbc-day {

        &.block {
            > * {
                display: block;
            }

            div:first-child > span {
              margin: 10px 0px 20px 0px;
              font-size: 24px;
              font-weight: bold;
            }
        }

        &.inline {
            > * {
                display: inline-block;
            }

            > :first-child {
                text-align: center;
                width: 150px;
                vertical-align: middle;
            }
        }
    }
}
