.rbc-day {
  margin: auto 0;
  white-space : nowrap;
  height: 100px;

  > div:first-child {
    padding: 15px;

    > span {
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }
}
