.rbc-day {
  margin: auto 0;
  white-space : nowrap;

  .rbc-header {

    span {
      display: block;
    }
  }

  &.block {
    text-align: center;

    .rbc-header {
      margin: 10px 0px 20px 0px;
      font-size: 24px;
      font-weight: bold;
    }
  }

  &.inline {
    .rbc-header {
      display: inline-block;
      text-align: center;
      width: 150px;
      vertical-align: middle;
    }

    .rbc-slot {
      position: relative;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
  }


}
