.content {
    &__header {
        height: 35px;
        line-height: 35px;
        background: #4DB6AC;
        border-top: 1px solid #4DB6AC;
        padding-left: 5px;

        > button {
          float: right;
          font-size: 21px;
          font-weight: 700;
          line-height: 1;
          color: #00796B;
          background: #4DB6AC;
          border: 0;
          outline: 0;

          &:hover {
            cursor: pointer;
            color: #004D40;
          }
        }
    }

    &__body {
        padding: 15px;
    }
}

@media (max-width: 320px) {
  .container__modal__dialog {
      width: calc(100% - 10px);
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .container__modal {
    &__dialog {
        width: calc(100% - 10px);
    }

    .Content {
        min-width: 320px;
        max-width: 500px;
    }
  }
}

@media (min-width: 1024px) {
  .container__modal {
    &__dialog {
        width: auto;
    }

    .Content {
        min-width: 320px;
        max-width: 500px;
    }
  }
}
