.modal-open {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height:100%;
}

.rbc-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  &.in {
    opacity: 1;
    background: rgba(149, 165, 169, 0.5);
    pointer-events: auto;
  }

  .rbc-modal-dialog {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 99999;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 1);

      .rbc-modal-header {
          background: #333A44;
          color: #ffffff;
          text-align: center;
      }
  }
}

@media (max-width: 320px) {
    .rbc-modal {
        .rbc-modal-dialog {
            width: 95%;
            margin: 10px 0px 10px 0px;

            .rbc-modal-header {
                height: 40px;
                line-height: 40px;
            }

            .rbc-modal-body {
                padding: 10px;

                input:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 720px) {
    .rbc-modal {
        .rbc-modal-dialog {
            width: 95%;
            margin: 10px 0px 10px 0px;

            .rbc-modal-header {
                height: 40px;
                line-height: 40px;
            }

            .rbc-modal-body {
                padding: 10px;

                input:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (min-width: 720px) {
    .rbc-modal {
        .rbc-modal-dialog {
            width: 500px;
            margin: 10px 0px 10px 0px;

            .rbc-modal-header {
                height: 60px;
                line-height: 60px;
            }

            .rbc-modal-body {
                padding: 10px;

                input {
                    display: inline-block;

                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
