.rbc-slot {
    height: 100px;

    &.inactive {
        background: lightgrey;
        outline: 1px solid black;
    }

    &:not(.inactive) {
        box-sizing: border-box;
        outline: 1px solid black;
    }

    &:not(.booked):not(.inactive) {
        cursor: pointer;
        background: #81C784;

        &:hover {
          background: #4CAF50;
        }
    }

    &.booked {
      background: #E57373;
    }

}
